<p class="pb-4">Número de hijos menores de 25 años a cargo</p>
<div class="rating">
  <output name="children-result" class="pl-2 text-sm"></output>
  <input type="radio" name="children" id="children5" value="5" />
  <label for="children5"
    ><span class="sr-only">5 hijos</span>{{>
    components/form/icons/child}}</label
  >
  <input type="radio" name="children" id="children4" value="4" />
  <label for="children4"
    ><span class="sr-only">4 hijos</span>{{>
    components/form/icons/child}}</label
  >
  <input type="radio" name="children" id="children3" value="3" />
  <label for="children3"
    ><span class="sr-only">3 hijos</span>{{>
    components/form/icons/child}}</label
  >
  <input type="radio" name="children" id="children2" value="2" />
  <label for="children2"
    ><span class="sr-only">2 hijos</span>{{>
    components/form/icons/child}}</label
  >
  <input type="radio" name="children" id="children1" value="1" />
  <label for="children1"
    ><span class="sr-only">1 hijo</span>{{> components/form/icons/child}}</label
  >
  <input
    type="radio"
    tabindex="0"
    name="children"
    id="children0"
    class="mr-2 radio"
    value="0"
    data-index="0"
    checked
  />
  <label for="children0" class="mr-2 label-text" data-index="0">No tengo</label>
</div>
<p class="hidden py-4" data-type="babies" id="babies">
  De ellos, ¿cuántos son menores de 3 años?
</p>
<div class="hidden rating" data-type="babies">
  <output name="babies-result" class="pl-2 text-sm"></output>
  <input
    type="radio"
    name="babies"
    id="babies5"
    value="5"
    disabled
    data-index="5"
  />
  <label for="babies5" class="hidden" data-index="5" data-type="baby"
    ><span class="sr-only">5 bebés</span>{{> components/form/icons/baby}}</label
  >
  <input
    type="radio"
    name="babies"
    id="babies4"
    value="4"
    disabled
    data-index="4"
  />
  <label for="babies4" class="hidden" data-index="4" data-type="baby"
    ><span class="sr-only">4 bebés</span>{{> components/form/icons/baby}}</label
  >
  <input
    type="radio"
    name="babies"
    id="babies3"
    value="3"
    disabled
    data-index="3"
  />
  <label for="babies3" class="hidden" data-index="3" data-type="baby"
    ><span class="sr-only">3 bebés</span>{{> components/form/icons/baby}}</label
  >
  <input
    type="radio"
    name="babies"
    id="babies2"
    value="2"
    disabled
    data-index="2"
  />
  <label for="babies2" class="hidden" data-index="2" data-type="baby"
    ><span class="sr-only">2 bebés</span>{{> components/form/icons/baby}}</label
  >
  <input
    type="radio"
    name="babies"
    id="babies1"
    value="1"
    disabled
    data-index="1"
  />
  <label for="babies1" class="hidden" data-index="1" data-type="baby"
    ><span class="sr-only">1 bebé</span>{{> components/form/icons/baby}}</label
  >
  <input
    type="radio"
    tabindex="0"
    name="babies"
    id="babies0"
    class="mr-2 radio"
    value="0"
    checked
    disabled
    data-index="0"
  />
  <label
    for="babies0"
    class="mr-2 label-text min-w-[56px] hidden"
    data-index="0"
    data-type="baby"
    >Ninguno</label
  >
</div>
