<legend>¿Tienes alguna discapacidad?</legend>
<div class="form-control">
  <label
    for="disability0"
    class="justify-start w-[fit-content] gap-2 cursor-pointer label"
  >
    <input
      id="disability0"
      name="disability-percentage"
      checked="checked"
      type="radio"
      class="radio"
      value="0"
    />
    <span class="label-text">Ninguna o menos del 33%</span>
  </label>
</div>
<div class="form-control">
  <label
    for="disability33"
    class="justify-start w-[fit-content] gap-2 cursor-pointer label"
  >
    <input
      id="disability33"
      name="disability-percentage"
      type="radio"
      class="radio"
      value="33"
    />
    <span class="label-text">Entre el 33% y el 65%</span>
  </label>
</div>
<div class="form-control">
  <label
    for="disability65"
    class="justify-start w-[fit-content] gap-2 cursor-pointer label"
  >
    <input
      id="disability65"
      name="disability-percentage"
      type="radio"
      class="radio"
      value="65"
    />
    <span class="label-text">Igual o superior al 65%</span>
  </label>
</div>
