<fieldset>
  <label class="block mb-2" for="annual-gross-salary"
    >Salario bruto anual</label
  >
  <div class="relative mb-4">
    <input
      id="annual-gross-salary"
      name="annual-gross-salary"
      class="w-full pl-10 text-xl input input-bordered input-md"
      type="number"
      value="30000"
      min="0"
      step="100"
      required
    />
    <span
      class="absolute text-xl transform translate-y-1/2  opacity-60 bottom-1/2 left-4"
      >€</span
    >
  </div>
  <label class="sr-only" for="annual-gross-salary-range"
    >Rango de salario bruto anual</label
  >
  <input
    id="annual-gross-salary-range"
    name="annual-gross-salary-range"
    class="range range-accent range-lg"
    type="range"
    min="10000"
    max="100000"
    value="30000"
    step="1000"
  />
</fieldset>
<fieldset>
  <div class="flex flex-row gap-2">
    <div class="form-control">
      <label class="justify-start gap-2 cursor-pointer label">
        <input
          name="annual-payments-number"
          checked="checked"
          type="radio"
          class="radio"
          value="12"
        />
        <span class="label-text">12 pagas</span>
      </label>
    </div>
    <div class="form-control">
      <label class="justify-start gap-2 cursor-pointer label">
        <input
          type="radio"
          name="annual-payments-number"
          class="radio"
          value="14"
        />
        <span class="label-text">14 pagas</span>
      </label>
    </div>
  </div>
</fieldset>
<fieldset>
  <p class="pb-4">Número de hijos menores de 25 años a cargo</p>
  <div class="rating">
    <input type="radio" name="children" id="children5" value="5" />
    <label for="children5"
      ><span class="sr-only">5 hijos</span>{{>
      components/form/icons/child}}</label
    >
    <input type="radio" name="children" id="children4" value="4" />
    <label for="children4"
      ><span class="sr-only">4 hijos</span>{{>
      components/form/icons/child}}</label
    >
    <input type="radio" name="children" id="children3" value="3" />
    <label for="children3"
      ><span class="sr-only">3 hijos</span>{{>
      components/form/icons/child}}</label
    >
    <input type="radio" name="children" id="children2" value="2" />
    <label for="children2"
      ><span class="sr-only">2 hijos</span>{{>
      components/form/icons/child}}</label
    >
    <input type="radio" name="children" id="children1" value="1" />
    <label for="children1"
      ><span class="sr-only">1 hijo</span>{{>
      components/form/icons/child}}</label
    >
    <input
      type="radio"
      tabindex="0"
      name="children"
      id="children0"
      class="mr-2 radio"
      value="0"
      data-index="0"
      checked
    />
    <label for="children0" class="mr-2 label-text" data-index="0"
      >No tengo</label
    >
  </div>
  <p class="hidden py-4" data-type="babies" id="babies">
    De ellos, ¿cuántos son menores de 3 años?
  </p>
  <div class="hidden rating" data-type="babies">
    <input
      type="radio"
      name="babies"
      id="babies5"
      value="5"
      disabled
      data-index="5"
    />
    <label for="babies5" class="hidden" data-index="5" data-type="baby"
      ><span class="sr-only">5 bebes</span>{{>
      components/form/icons/baby}}</label
    >
    <input
      type="radio"
      name="babies"
      id="babies4"
      value="4"
      disabled
      data-index="4"
    />
    <label for="babies4" class="hidden" data-index="4" data-type="baby"
      ><span class="sr-only">4 bebes</span>{{>
      components/form/icons/baby}}</label
    >
    <input
      type="radio"
      name="babies"
      id="babies3"
      value="3"
      disabled
      data-index="3"
    />
    <label for="babies3" class="hidden" data-index="3" data-type="baby"
      ><span class="sr-only">3 bebes</span>{{>
      components/form/icons/baby}}</label
    >
    <input
      type="radio"
      name="babies"
      id="babies2"
      value="2"
      disabled
      data-index="2"
    />
    <label for="babies2" class="hidden" data-index="2" data-type="baby"
      ><span class="sr-only">2 bebes</span>{{>
      components/form/icons/baby}}</label
    >
    <input
      type="radio"
      name="babies"
      id="babies1"
      value="1"
      disabled
      data-index="1"
    />
    <label for="babies1" class="hidden" data-index="1" data-type="baby"
      ><span class="sr-only">1 bebe</span>{{>
      components/form/icons/baby}}</label
    >
    <input
      type="radio"
      tabindex="0"
      name="babies"
      id="babies0"
      class="mr-2 radio"
      value="0"
      checked
      disabled
      data-index="0"
    />
    <label
      for="babies0"
      class="mr-2 label-text min-w-[56px] hidden"
      data-index="0"
      data-type="baby"
      >Ninguno</label
    >
  </div>
</fieldset>
