<div class="flex flex-row gap-2">
  <div class="form-control">
    <label class="justify-start gap-2 cursor-pointer label">
      <input
        name="annual-payments-number"
        checked="checked"
        type="radio"
        class="radio"
        value="12"
      />
      <span class="label-text">12 pagas</span>
    </label>
  </div>
  <div class="form-control">
    <label class="justify-start gap-2 cursor-pointer label">
      <input
        type="radio"
        name="annual-payments-number"
        class="radio"
        value="14"
      />
      <span class="label-text">14 pagas</span>
    </label>
  </div>
</div>
