<div class="flex items-baseline justify-between gap-4 mb-2 h-sm:mb-4">
  <h1 class="font-bold text-4xl-dynamic leading-12-dynamic">
    Calculadora de sueldo <span class="sr-only sm:not-sr-only">neto</span>
  </h1>
  <div class="flex gap-4">
    <label class="sr-only" for="theme">Cambiar tema</label>
    <input
      type="checkbox"
      id="theme"
      name="theme"
      checked="checked"
      class="hidden toggle toggle-accent"
    />
    <a
      href="{{ github }}"
      target="_blank"
      rel="noopener noreferrer"
      class="block w-6 h-6 text-gray-400 rounded-full hover:text-gray-500"
      ><span class="sr-only">Salary calculator en GitHub</span>{{>
      components/header/icons/github }}</a
    >
  </div>
</div>
<p>
  Calcula cuánto cobrarás como sueldo neto<span class="sr-only sm:not-sr-only">
    anual o mensual según la cantidad que recibas en bruto</span
  >.
</p>
