<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ title }}</title>
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ VITE_BASE_URL }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ VITE_BASE_URL }}favicon/coins.svg" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ VITE_BASE_URL }}" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="{{ description }}" />
<meta property="twitter:image" content="{{ VITE_BASE_URL }}favicon/coins.svg" />
