<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Calculadora de sueldo</title>
<meta name="title" content="Calculadora de sueldo" />
<meta
  name="description"
  content="Calcula cuánto cobrarás como sueldo neto anual o mensual según la cantidad que recibas en bruto."
/>

<meta property="og:type" content="website" />
<meta property="og:url" content="https://sueldo.netlify.app/" />
<meta property="og:title" content="Calculadora de sueldo" />
<meta
  property="og:description"
  content="Calcula cuánto cobrarás como sueldo neto anual o mensual según la cantidad que recibas en bruto."
/>
<meta
  property="og:image"
  content="https://sueldo.netlify.app/favicon/coins.svg"
/>

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://sueldo.netlify.app/" />
<meta property="twitter:title" content="Calculadora de sueldo" />
<meta
  property="twitter:description"
  content="Calcula cuánto cobrarás como sueldo neto anual o mensual según la cantidad que recibas en bruto."
/>
<meta
  property="twitter:image"
  content="https://sueldo.netlify.app/favicon/coins.svg"
/>
