<fieldset>
  <legend class="block mb-2 font-bold opacity-80" for="annual-gross-salary">
    Salario bruto anual
  </legend>
  <div class="relative mb-4">
    <input
      id="annual-gross-salary"
      class="w-full pl-10 text-xl input input-bordered input-md"
      type="number"
      value="30000"
      min="0"
      max="100000"
      step="100"
      required
    />
    <span
      class="absolute text-xl transform translate-y-1/2  opacity-60 bottom-1/2 left-4"
      >€</span
    >
  </div>
  <label class="sr-only" for="annual-gross-salary-range"
    >Rango de salario bruto anual</label
  >
  <input
    id="annual-gross-salary-range"
    class="range range-accent range-lg"
    type="range"
    min="0"
    max="100000"
    value="30000"
    step="1000"
    required
  />
</fieldset>
<fieldset>
  <div class="grid grid-cols-2 card bordered">
    <div class="form-control">
      <label class="justify-start gap-2 cursor-pointer label">
        <input
          name="annual-payments-number"
          checked="checked"
          type="radio"
          class="radio"
          value="12"
        />
        <span class="label-text">12 pagas</span>
      </label>
    </div>
    <div class="form-control">
      <label class="justify-start gap-2 cursor-pointer label">
        <input
          type="radio"
          name="annual-payments-number"
          class="radio"
          value="14"
        />
        <span class="label-text">14 pagas</span>
      </label>
    </div>
  </div>
</fieldset>
