<div class="stat">
  <div class="stat-figure text-primary">{{> icons/coins }}</div>
  <div class="stat-title">Sueldo neto mensual</div>
  <div id="monthly-net-salary" class="stat-value text-primary">
    1930 €
  </div>
  <div class="stat-desc">
    <span id="monthly-withholding">412 €</span>
    <h3 class="inline">IRPF</h3>
  </div>
  <div class="stat-desc">
    <span id="monthly-fee">159 €</span>
    <h3 class="inline">Seguridad Social</h3>
  </div>
</div>
<div class="stat">
  <div class="stat-figure text-secondary">{{> icons/bag-with-coins }}</div>
  <div class="stat-title">Sueldo neto anual</div>
  <div id="annual-net-salary" class="stat-value text-secondary">
    23.157 €
  </div>
  <div class="stat-desc">
    <span id="annual-withholding">4938 €</span>
    <h3 class="inline">IRPF</h3>
  </div>
  <div class="stat-desc">
    <span id="annual-fee">1905 €</span>
    <h3 class="inline">Seguridad Social</h3>
  </div>
</div>